[Unit]
Description=Dogecoin Node
After=network.target

[Service]
ExecStart=/bin/bash nodeStart.sh
WorkingDirectory=/home/pinodedoge/
Type=forking
Restart=always
RestartSec=30
User=pinodedoge
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
