[Unit]
Description=Kill dogecoind processes
After=network.target

[Service]
ExecStart=/bin/bash kill.sh
WorkingDirectory=/home/pinodedoge/
StandardOutput=inherit
StandardError=inherit
Type=oneshot
RemainAfterExit=true
Restart=no
User=pinodedoge

[Install]
WantedBy=multi-user.target
