[Unit]
Description=Stop Dogecoin Node
After=network.target

[Service]
ExecStart=/bin/bash nodeReboot.sh
WorkingDirectory=/home/pinodedoge/
StandardOutput=inherit
StandardError=inherit
Type=oneshot
RemainAfterExit=true
Restart=no
User=pinodedoge

[Install]
WantedBy=multi-user.target
